
       
        
        <h1> <%= @user.username %> </h1>
      </h3>
      <h3 class='text-center'>
      
       
      
      <h1> Become a Student </h2>

 <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p style="color: red"><%= error %> </p>
    <% end %>
<% end %>





      <h2> Courses </h2>
<%= button_to "Register Course", new_user_enrollment_path, method: :get%>
<ul>

<% @user.enrollments.each do |enrollment| %>
<li> <%= enrollment.course.name%></li>
<li> <%= enrollment.course.description%></li>

<%= button_to "Drop Enrollment", new_user_enrollment(enrollment), method: :delete %>
<% end %>
</ul>

<%= button_to "Edit Student", edit_user_path, method: :get %>
<%= button_to "Destroy Student", user_path, method: :delete %>
<%= link_to "Destroy Student", user_path %>
       
 
