<h1>Enrollments#new</h1>


<%= form_for @enrollment do |f| %>
<%= f.label :course, :course_id %>
<%= f.collection_select :course_id, Course.all, :id, :name %>
<%= f.label :user_id %>
<%= f.collection_select :user_id, User.all, :id, :username %>
<%= f.submit %>
<% end %>


